[submodule "discount-calculator"]
	path = discount-calculator
	url = https://github.com/MaximilianoOliveiraFurtado/discount-calculator.git
	branch = main
[submodule "product"]
	path = product
	url = https://github.com/MaximilianoOliveiraFurtado/product.git
