[submodule "discount-calculator"]
	path = discount-calculator
	url = https://github.com/MaximilianoOliveiraFurtado/discount-calculator.git
	branch = main
[submodule "products-list"]
	path = products-list
	url = https://github.com/MaximilianoOliveiraFurtado/products-list.git
	branch = main
